*.jar
*.log
*.lock
package-lock.json
*.phar
.git-rewrite
.php-cs-fixer.cache
package-lock.json
vendor/
node_modules/
.env
/.vagrant
.phpunit.result.cache
.DS_Store
error_log
.phpintel
/.idea
/build

*.lock
package-lock.json
*.stackdump
*.cache
cache
